MAIN_COLOR = #fbc531
WHITE_COLOR = #fff
ATENUE_COLOR = #e1b12c
LIGHT_COLOR = rgba(222, 125, 43, 0.13)
LIGHT_ATENUE_COLOR = rgba(222, 125, 43, 0.48)
BACKGROUND_MAIN_COLOR = #EEEEEE
BORDER_GRAY_COLOR = #BDBDBD
BLACK_COLOR = #404040
GREEN_LIGHT_COLOR = #2ecc71
RED_COLOR_DARK = #c0392b
